body {
    color: white;
}

.hidden {
    display: none;
}

#top {
    display: flex;
    justify-content: space-between;
}

#clock {
    font-size: 100px;
    display: flex;
    justify-content: center;
    margin-top: 150px;
}

#greeting {
    display: flex;
    justify-content: center;
    margin-top: -60px;
}

#login-form {
    display: flex;
    justify-content: center;
    margin-top: -50px;
    margin-bottom: 50px;
}

.hidden#login-form {
    display: none;
}

#login-form input:first-child {
    margin-right: 10px;
}

#login-form input:first-child,
#todo-form-input {
    border: none;
    border-bottom: solid 2px white;
    background: none;
    color: white;
}

#login-form input:first-child:focus,
#todo-form-input:focus {
    outline: none;
}

#login-form input:first-child::placeholder,
#todo-form-input::placeholder {
    color: white;
    text-align: center;
}

#login-form input:last-child {
    border: none;
    border-bottom: solid 2px white;
    background: none;
    color: white;
}

#todo-form {
    display: flex;
    justify-content: center;
}

#todo-form-input {
    width: 300px;
    height: 40px;
    font-size: 20px;
}

#todo-list {
    font-size: 20px;
    list-style: none;
}